.about{
   font-size: 30px;
   color: rgb(22, 22, 48);
   width: 800px;
   text-align: justify;
   margin-left: 100px;
}
.btn{
    padding: 10px;
    background-color: rgb(178, 122, 230);
    border: 0px;
    border-radius: 10px;
    font-size: 30px;
    color: azure;
}

.btn:hover{
    background-color:rgb(73, 4, 138) ;
}
