.main-part{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 50px;
    margin: 30px;
    margin-bottom: 100px;
}

.img-inf>img{
    width: 400px;
    margin-right: 50px;
   
  
}
.text-info{
    width: 700px;
}
.text-info >p{
color: blue;
font-size: 20px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-align: justify;
}
.text-info>h1{
    font-size: 50px;
    color: crimson;
}

.all-review{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap:20px ;
    
    
    }
    .products-details{
        border: 5px solid rgb(180, 147, 147);
        border-radius: 20px;
       padding: 20px;
       background-color: rgb(219, 215, 155);
        
    }
    
   

    button{
        padding: 15px;
        border-radius: 10px;
        border: none;
        background-color: burlywood;
        color: blue;
        width: 200px;
        font-size: 25px;
        font-weight: 900;
    }

    button:hover{
        background-color: chocolate;
    }